# Nome da pasta e do projeto Flutter (Use apenas minúsculas e underlines)
FLUTTER_APP_NAME=app_atividade1
FLUTTER_WEB_PORT=8085

# --- CONFIGURAÇÕES DA API PHP ---
API_PORT=8000

# --- CONFIGURAÇÕES DO ADMINER ---
ADMINER_PORT=8080

# --- CONFIGURAÇÕES DO BANCO DE DADOS (MYSQL) ---
DB_PORT=3306
DB_ROOT_PASSWORD=suasenharoot
DB_DATABASE=db_plataforma
DB_USER=rafael
DB_PASSWORD=suasenhadesenvolvedor